
ion-icon {
  font-size: 20px;
  color: $gray-2;
}

.bg-color {
  background-color: #232343;
}

#titlenav{
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
 }

#nav {
  color: $gray-2;
  font-family: 'Ubuntu', sans-serif;
}




// li:hover {
//     color: #FFFFFF;
// }
